[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
langchain = "*"
openai = "*"
chromadb = "*"
tiktoken = "*"
snscrape = "*"
praw = "*"
langchain-community = "*"
langchain-openai = "*"
wordcloud = "*"
duckduckgo-search = "*"

[dev-packages]

[requires]
python_version = "3.11"
